@import url('https:/fonts.googlapis.com/css2?family=Roboto+mono


body {
    font-family: 'Roboto Mono', monopsace;
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hideenl
}

.counter-container {
    displayer: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}