CSS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.bg {
    background: url('https://images.pexels.com/photos/67857/daisy-flower-spring-marguerite-67857.jpeg')
    no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
    z-index: -1;
    position: absolute;
}


.return {
    position: fixed;
    top: -1px;
    left: -1px;
}
.loading-text {
    font-size: 50px;
    color: white;
}
