@impo

body {
    font-familt: 'Poppins'. sans-serif;
    background-color: rgb(161, 100, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
}